/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "Quicksand";
  src: url('quicksand/Quicksand-Regular.otf');
}
@font-face {
  font-family: "Quattrocento";
  src: url('quattrocento-roman/Quattrocento-Regular.otf');
}

html {
  font-size: 10px;
}

body {
  font-family: "Quattrocento", "Time News Roman", serif;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 2px;
}

header {
  text-align: center;
}

footer {
  text-align: right;
}

h1, h2 {
  font-family: "Quicksand", Verdana, sans-serif;
  font-size: 3em;
  letter-spacing: 3px;
}

h2 {
  font-size: 2em;
}

section > p:not(:last-of-type) {
  text-indent: 2em;
}

a {
  color: #F64A4A;
}

a[href^="https"]::after {
  content: '';
  background: url('external-link-52.png');
  background-size: .8em;
  background-repeat: no-repeat;
  padding-right: 1em;
  text-decoration: none;
}

a:hover {
  color: #a66;
  text-decoration: none;
}

a:visited {
  color: #F69494;
}

a:focus {
  outline: none;
}

a:active {
  background-color: #a66;
}
nav > ul {
  text-align: center;
}
nav > ul > li {
  display: inline-block;
  margin: 5px auto;
  padding: 1.5em;
  min-width: 10em;
  border: 1px solid #a66;
}

nav > ul > li > a {
  text-decoration: none;
}